---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog Web">
	<main>
		<a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>Welcome Home</h1>
	</main>
</Layout>
