---
const platform = "github";
const username = "bzionlab";
---

<footer>
    <p>
        Revisa más de nuestros proyectos en <a
            href={`https://www.${platform}.com/${username}`}
            target="_blank"
            rel="noopener noreferrer">{platform}</a
        >!
    </p>
</footer>
